<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Операции</title>
    <style>
        body {
     font-family: Arial, sans-serif;
     background-color: #f4f4f4; /* Цвет фона тела изменен */
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .navbar {
     background-color: #333; /* Цвет фона navbar изменен */
     color: #fff; /* Цвет текста изменен */
     padding: 10px;
     position: fixed;
     top: 0;
     width: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     box-shadow: 0 2px 4px rgba(0,0,0,0.1);
     z-index: 1000;
 }

 .navbar button {
     background-color: #333; /* Цвет фона кнопки изменен */
     color: #fff; /* Цвет текста изменен */
     border: none;
     padding: 12px 30px; /* Изменены отступы для соответствия стилю 1 */
     cursor: pointer;
     font-size: 18px; /* Размер шрифта изменен */
     text-align: center;
     border-radius: 5px;
 }

 .navbar button:hover {
     background-color: #555; /* Цвет фона при наведении изменен */
 }

 .container {
     display: flex;
     margin-top: 90px;
     height: calc(100vh - 60px);
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     width: 90%;
     height: 90%;
 }

 .left-section {
     width: 30%;
 }

 .middle-section {
     width: 30%;
 }

 .right-section {
     width: 35%;
     box-sizing: border-box;
     padding-left: 20px;
 }

 .add-button {
     display: block;
     width: 100%;
     margin-bottom: 10px;
     padding: 10px;
     background-color: #555;
     color: #fff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-size: 16px;
 }

 button:hover {
     background-color: #333; /* Цвет фона при наведении изменен */
 }

 .scroll-box {
     height: 800px;
     overflow-y: auto;
     border: 1px solid #ddd;
     border-radius: 5px;
     padding: 10px;
     margin-top: 10px;
 }

 .transaction-container {
     background-color: #fff;
     border: 1px solid #ddd;
     border-radius: 5px;
     padding: 10px;
     margin-bottom: 10px;
 }

 .transaction-details {
     font-size: 18px; /* Размер шрифта изменен для соответствия стилю 1 */
     line-height: 1.6;
 }

 .transaction-details .operation-type span {
     color: green; /* Цвет для дохода */
 }

 .transaction-details .operation-type {
     font-weight: bold;
     color: black;
     font-size: 18px; /* Размер шрифта изменен для соответствия стилю 1 */
     margin-bottom: 5px;
 }

 .transaction-details .category,
 .transaction-details .amount {
     font-weight: bold;
     color: black;
 }

 .transaction-details .amount {
     color: #dc3545; /* Цвет для расхода */
 }

 .transaction-details .comment {
     color: #666;
     font-size: 14px; /* Размер шрифта изменен для комментария */
 }

 .hidden {
     display: none;
 }

 .date-container {
     display: flex;
     align-items: center;
     margin-bottom: 10px;
 }

 .date-container span {
     margin-left: 10px;
     font-weight: bold;
 }

 .error-message {
     color: red;
     font-size: 12px; /* Размер шрифта изменен */
     margin: 5px 0;
 }

 .filter-container {
     background-color: #fff;
     border: 1px solid #ddd;
     border-radius: 5px;
     padding: 10px;
     margin-top: 10px;
 }

 .filter-container label {
     font-weight: bold;
     margin-right: 5px;
 }

 .filter-container input,
 .filter-container select {
     width: calc(100% - 22px); /* Ширина изменена для соответствия стилю 1 */
     padding: 10px; /* Отступы изменены для соответствия стилю 1 */
     margin-bottom: 10px;
     border: 1px solid #ccc; /* Цвет границы изменен */
     border-radius: 5px;
 }

 .filter-buttons {
     display: flex;
     justify-content: space-between;
 }

 .filter-buttons button {
     width: 48%; /* Ширина кнопок изменена для соответствия стилю 1 */
 }

 .small-button {
     padding: 8px 12px; /* Отступы изменены для соответствия стилю 1 */
     font-size: 14px; /* Размер шрифта изменен */
     border: 1px solid #ccc;
     border-radius: 4px; /* Округленные края изменены */
     cursor: pointer;
     background-color: #999; /* Цвет фона изменен */
     color: white; /* Цвет текста изменен */
     display: inline-flex;
     align-items: center;
     justify-content: center;
     max-width: 120px;
     text-align: center;
 }

 .delete-button {
     background-color: #999; /* Цвет фона для кнопки удаления изменен */
     color: #fff; /* Цвет текста для кнопки удаления изменен */
 }

 .small-button:hover {
     background-color: #333; /* Цвет фона при наведении изменен */
 }

    </style>
</head>
<body>
<div class="navbar">
    <button onclick="location.href='/profile'">Профиль</button>
    <button onclick="location.href='/profile/holders'">Счета</button>
    <button onclick="location.href='/profile/operations'">Операции</button>
    <button onclick="location.href='/profile/analytics'">Аналитика</button>
</div>

<div class="container">
    <div class="left-section">
        <button class="add-button" id="addTransactionBtn">Добавить транзакцию</button>
        <form id="transactionForm" th:action="@{/profile/operations}" th:object="${transaction}" th:method="post">
            <div  id="transactionContainer" class="filter-container hidden">
                <div class="date-container">
                    <input type="date" id="transactionDate" th:field="*{transactionDate}" onchange="updateSelectedDate()" required>
                    <div th:if="${#fields.hasErrors('transactionDate')}" th:errors="*{transactionDate}" class="error-message"></div>
                </div>
                <span class="date-container" id="selectedDate">Выбранная дата:</span>
                <div>
                    <button class="add-button" type="button" id="incomeBtn" onclick="showIncome()">Доход</button>
                    <button class="add-button" type="button" id="expenseBtn" onclick="showExpenses()">Расход</button>
                </div>
                <div id="incomeCategory" style="display:none;">
                    <label for="incomeCategories">Категории доходов:</label>
                    <select id="incomeCategories" th:field="*{incomeSource}">
                        <option th:each="incomeSource : ${incomeSources}" th:value="${incomeSource.id}" th:text="${incomeSource.sourceName}"></option>
                    </select>
                </div>
                <div id="expenseCategory" style="display:none;">
                    <label for="expenseCategories">Категории расходов:</label>
                    <select id="expenseCategories" th:field="*{expenseCategory}">
                        <option th:each="expenseCategory : ${expenseCategories}" th:value="${expenseCategory.id}" th:text="${expenseCategory.categoryName}"></option>
                    </select>
                </div>
                <div id="transactionDetails" class="hidden">
                    <input type="number" step="0.01" id="amount" th:field="*{amount}" placeholder="Сумма" required>
                    <div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="error-message"></div>
                    <div id="accountSelector">
                        <label for="moneyHolders">Счета:</label>
                        <select id="moneyHolders" th:field="*{moneyHolders}">
                            <option th:each="moneyHolder : ${moneyHolders}"
                                    th:value="${moneyHolder.id}"
                                    th:text="${moneyHolder.holderName}">Option</option>
                        </select>
                    </div>
                    <button class="add-button" type="button" id="addCommentBtn">Добавить комментарий</button>
                    <div id="commentContainer" class="hidden">
                        <textarea id="comment" th:field="*{transComment}" placeholder="Комментарий" style="width: 100%; height: 100px;"></textarea>
                    </div>
                    <button class="add-button" type="submit" id="confirmTransactionBtn">Подтвердить операцию</button>
                    <input type="hidden" name="typeOfTransfer" id="typeOfTransfer">
                </div>
            </div>
        </form>
        <div class="filter-buttons">
            <button class="add-button" onclick="toggleForm('income-category-form')">Создать категорию дохода</button>
            <button class="add-button" onclick="toggleForm('expense-category-form')">Создать категорию расхода</button>
        </div>

        <div id="income-category-form" class="filter-container hidden">
            <h3>Добавить категорию дохода</h3>
            <form th:action="@{/profile/operations/add-incomeSource}" th:method="post">
                <label for="income-category-name">Название категории:</label>
                <input type="text" id="income-category-name" name="sourceName" required />
                <div class="button-group">
                    <button class="add-button" type="submit">Сохранить</button>
                </div>
            </form>
        </div>

        <div id="expense-category-form" class="filter-container hidden">
            <h3>Добавить категорию расхода</h3>
            <form th:action="@{/profile/operations/add-expCategory}" th:method="post">
                <label for="expense-category-name">Название категории:</label>
                <input type="text" id="expense-category-name" name="categoryName" required />
                <div class="button-group">
                    <button class="add-button" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>


    <div class="middle-section">
        <button class="add-button" id="filterBtn">Фильтр</button>
        <div id="filterContainer" class="filter-container hidden">
            <form id="filterForm" th:action="@{/profile/operations}" th:method="get">
                <label for="startDate">Дата начала:</label>
                <input type="date" id="startDate" name="startDate" th:value="${startDate}">

                <label for="endDate">Дата окончания:</label>
                <input type="date" id="endDate" name="endDate" th:value="${endDate}">

                <label for="minAmount">Минимальная сумма:</label>
                <input type="number" step="0.01" id="minAmount" name="minAmount" th:value="${minAmount}">

                <label for="maxAmount">Максимальная сумма:</label>
                <input type="number" step="0.01" id="maxAmount" name="maxAmount" th:value="${maxAmount}">

                <label for="incOrExp">Тип транзакции:</label>
                <select id="incOrExp" name="incOrExp" onchange="toggleCategories()">
                    <option value="" th:selected="${typeOfTransfer == ''}">Все</option>
                    <option value="INCOME" th:selected="${typeOfTransfer == 'INCOME'}">Доход</option>
                    <option value="EXPENSE" th:selected="${typeOfTransfer == 'EXPENSE'}">Расход</option>
                </select>

                <label for="holderId">Счет:</label>
                <select id="holderId" name="holderId">
                    <option value="" th:selected="${holderId == null}">Все</option>
                    <option th:each="holder : ${moneyHolders}" th:value="${holder.id}" th:text="${holder.holderName}"
                            th:selected="${holderId == holder.id}"></option>
                </select>

                <div id="categoriesContainer" th:classappend="${typeOfTransfer == '' ? 'hidden' : ''}">
                    <label for="incC" class="income-categories" th:classappend="${typeOfTransfer != 'INCOME' ? 'hidden' : ''}">Категории доходов:</label>
                    <select id="incC" name="incC" multiple class="category-select income-categories" th:classappend="${typeOfTransfer != 'INCOME' ? 'hidden' : ''}">
                        <option th:each="incomeSource : ${incomeSources}" th:value="${incomeSource.id}" th:text="${incomeSource.sourceName}"
                                th:selected="${selectedIncomeSources != null and selectedIncomeSources.contains(incomeSource.id)}"></option>
                    </select>

                    <label for="expC" class="expense-categories" th:classappend="${typeOfTransfer != 'EXPENSE' ? 'hidden' : ''}">Категории расходов:</label>
                    <select id="expC" name="expC" multiple class="category-select expense-categories" th:classappend="${typeOfTransfer != 'EXPENSE' ? 'hidden' : ''}">
                        <option th:each="expenseCategory : ${expenseCategories}" th:value="${expenseCategory.id}" th:text="${expenseCategory.categoryName}"
                                th:selected="${selectedExpenseCategories != null and selectedExpenseCategories.contains(expenseCategory.id)}"></option>
                    </select>
                </div>

                <div class="filter-buttons">
                    <button class="add-button" type="button" onclick="submitFilterForm()">Применить</button>
                    <button class="add-button" type="reset" onclick="location.href='/profile/operations'">Сбросить</button>
                </div>
            </form>
        </div>
        <div class="filter-buttons">
            <button class="add-button" onclick="toggleForm('income-category-form-2')">Изменить/Удалить категорию дохода</button>
            <button class="add-button" onclick="toggleForm('expense-category-form-2')">Изменить/Удалить категорию расхода</button>
        </div>

        <div id="income-category-form-2" class="filter-container hidden">
            <h3>Изменить или удалить категорию дохода</h3>
            <form th:action="@{/profile/operations/editIncSource}" th:method="patch" style="display: inline;">
                <label>Категории:</label>
                <select id="income-category-id" name="editId">
                    <option th:each="source : ${customSourceList}" th:value="${source.id}" th:text="${source.sourceName}"></option>
                </select>
                <input id="edit-name" name="editName" placeholder="При удалении поле оставить пустым">
                <div th:if="${nameError}" th:text="${nameError}" class="error-message"></div>
                <div class="button-group">
                    <button class="add-button" type="submit">Изменить</button>
                </div>
            </form>
            <form th:action="@{/profile/operations/deleteIncSource}" th:method="delete" onsubmit="syncInputInc()">
                <input type="hidden" id="delete-income-category-id" name="deleteId"/>
                <div class="button-group">
                    <button class="add-button" type="submit">Удалить</button>
                </div>
            </form>
        </div>

        <div id="expense-category-form-2" class="filter-container hidden">
            <h3>Изменить или удалить категорию дохода</h3>
            <form th:action="@{/profile/operations/editExpCategory}" th:method="patch" style="display: inline;">
                <label>Категории:</label>
                <select id="expense-category-id" name="editId">
                    <option th:each="category : ${customCategoryList}" th:value="${category.id}" th:text="${category.categoryName}"></option>
                </select>
                <input id="edit-name-2" name="editName" placeholder="При удалении поле оставить пустым">
                <div th:if="${nameError}" th:text="${nameError}" class="error-message"></div>
                <div class="button-group">
                    <button class="add-button" type="submit">Изменить</button>
                </div>
            </form>

            <form th:action="@{/profile/operations/deleteExpCategory}" th:method="delete" onsubmit="syncInputExp()">
                <input type="hidden" id="delete-expense-category-id" name="deleteId"/>
                <div class="button-group">
                    <button class="add-button" type="submit">Удалить</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function toggleForm(formId) {
            // Получаем ссылку на целевую форму
            const targetForm = document.getElementById(formId);

            // Переключаем класс 'hidden' на целевой форме
            if (targetForm.classList.contains('hidden')) {
                // Если форма скрыта, показываем её
                targetForm.classList.remove('hidden');
            } else {
                // Если форма видима, скрываем её
                targetForm.classList.add('hidden');
            }
        }

        function syncInputInc() {
                const sourceId = document.getElementById('income-category-id').value;
                document.getElementById('delete-income-category-id').value = sourceId;
        }

        function syncInputExp() {
            const categoryId = document.getElementById('expense-category-id').value;
            document.getElementById('delete-expense-category-id').value = categoryId;
        }
    </script>

    <div class="right-section">
        <div class="scroll-box" id="transactionList">
            <div th:each="transaction : ${transactionList}" class="transaction-container">
                <div class="transaction-details">
                    <div class="operation-type" style="font-weight: bold; color: black; font-size: 18px;">
                        Тип операции:
                        <span th:style="${transaction.expenseCategory != null ? 'color: red;' : 'color: green;'}"
                              th:text="${transaction.expenseCategory != null ? 'Расход' : 'Доход'}">
                    </span>
                    </div>
                    <div class="date" style="font-weight: bold; color: black;">
                        Дата операции:
                        <span style="font-weight: normal; color: black;" th:text="${transaction.transactionDate}"></span>
                    </div>
                    <div class="category" style="font-weight: bold; color: black;">
                        Категория:
                        <span style="font-weight: normal; color: black;"
                              th:text="${transaction.expenseCategory != null ? transaction.expenseCategory.categoryName : transaction.incomeSource.sourceName}">
                    </span>
                        <span style="font-weight: normal; color: black;" th:if="${transaction.moneyHolders != null}">
                        | <span th:text="${transaction.moneyHolders.holderName}"></span>
                    </span>
                    </div>
                    <div class="amount" style="font-weight: bold; color: black;">
                        Сумма:
                        <span th:style="${transaction.expenseCategory != null ? 'color: red;' : 'color: green;'}"
                              th:text="${transaction.amount}">
                    </span>
                    </div>
                    <div class="comment" style="font-weight: normal; color: black;">
                        Комментарий:
                        <span style="color: #666666; font-size: 12px;" th:text="${transaction.transComment}"></span>
                    </div>
                    <div class="action-buttons" style="display: flex; gap: 10px; margin-top: 10px;">
                        <form th:action="@{/profile/operations}" th:method="delete" style="margin: 0;">
                            <input type="hidden" name="id" th:value="${transaction.id}"/>
                            <button type="submit" class="small-button delete-button">Удалить</button>
                        </form>
                        <button type="button" class="edit-btn small-button" data-id="${transaction.id}">Редактировать</button>
                    </div>
                </div>
                <div class="filter-container edit-container hidden">
                    <form th:action="@{/profile/operations}" th:method="patch" class="edit-form">
                        <input type="hidden" name="id" th:value="${transaction.id}"/>

                        <div class="form-group">
                            <label for="editAmount">Сумма:</label>
                            <input type="number" step="0.01" id="editAmount" name="amount" th:value="${transaction.amount}" placeholder="Сумма" required>
                        </div>
                        <div class="form-group">
                            <label for="editTransactionDate">Дата операции:</label>
                            <input type="date" id="editTransactionDate" name="transactionDate" th:value="${transaction.transactionDate}" placeholder="Дата" required>
                        </div>
                        <div class="form-group">
                            <label for="editTransferType">Тип транзакции:</label>
                            <select id="editTransferType" name="typeOfTransfer" onchange="toggleTransactionCategories(this)" required>
                                <option value="">Выберите</option>
                                <option value="INCOME" th:selected="${transaction.typeOfTransfer == 'INCOME'}">Доход</option>
                                <option value="EXPENSE" th:selected="${transaction.typeOfTransfer == 'EXPENSE'}">Расход</option>
                            </select>
                        </div>
                        <div id="transactionCategoriesContainer" class="transactionCategoriesContainer" style="display: none;">
                            <div id="incomeCategoriesContainer" style="display: none;">
                                <label for="incomeCategoriesSelect">Категории доходов:</label>
                                <select id="incomeCategoriesSelect" name="incomeSource">
                                    <option th:each="source : ${incomeSources}" th:value="${source.id}" th:text="${source.sourceName}"></option>
                                </select>
                            </div>
                            <div id="expenseCategoriesContainer" style="display: none;">
                                <label for="expenseCategoriesSelect">Категории расходов:</label>
                                <select id="expenseCategoriesSelect" name="expenseCategory">
                                    <option th:each="category : ${expenseCategories}" th:value="${category.id}" th:text="${category.categoryName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editMoneyHolder">Счет:</label>
                            <select id="editMoneyHolder" name="moneyHolders" required>
                                <option th:each="holder : ${moneyHolders}" th:value="${holder.id}" th:text="${holder.holderName}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editComment">Комментарий:</label>
                            <input type="text" id="editComment" name="transComment" th:value="${transaction.transComment}" placeholder="Комментарий">
                        </div>
                        <button class="add-button" type="submit">Сохранить изменения</button>
                        <button class="add-button cancel-btn" type="button"  onclick="hideEditForm(this)">Отмена</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>

        // Функция для показа и скрытия формы редактирования
        function showEditForm(button) {
            var container = button.closest('.transaction-container');
            var details = container.querySelector('.transaction-details');
            var editContainer = container.querySelector('.edit-container');

            // Показать форму редактирования
            details.classList.add('hidden');
            editContainer.classList.remove('hidden');
        }

        function hideEditForm(button) {
            var container = button.closest('.edit-container').closest('.transaction-container');
            var details = container.querySelector('.transaction-details');
            var editContainer = container.querySelector('.edit-container');

            // Скрыть форму редактирования
            details.classList.remove('hidden');
            editContainer.classList.add('hidden');
        }

        function toggleTransactionCategories(selectElement) {
            // Найти контейнер транзакции
            var container = selectElement.closest('.transaction-container');

            // Найти нужные элементы внутри этого контейнера
            var transactionCategoriesContainer = container.querySelector('.transactionCategoriesContainer');
            var incomeCategoriesContainer = container.querySelector('#incomeCategoriesContainer');
            var expenseCategoriesContainer = container.querySelector('#expenseCategoriesContainer');

            var selectedType = selectElement.value;

            // Показать или скрыть категории в зависимости от выбранного типа транзакции
            if (selectedType === "INCOME") {
                transactionCategoriesContainer.style.display = 'block';
                incomeCategoriesContainer.style.display = 'block';
                expenseCategoriesContainer.style.display = 'none';
            } else if (selectedType === "EXPENSE") {
                transactionCategoriesContainer.style.display = 'block';
                incomeCategoriesContainer.style.display = 'none';
                expenseCategoriesContainer.style.display = 'block';
            } else {
                transactionCategoriesContainer.style.display = 'none';
                incomeCategoriesContainer.style.display = 'none';
                expenseCategoriesContainer.style.display = 'none';
            }
        }


        document.addEventListener('DOMContentLoaded', function() {
            var transactionTypeSelects = document.querySelectorAll('#editTransferType');

            transactionTypeSelects.forEach(function(selectElement) {
                selectElement.addEventListener('change', function() {
                    toggleTransactionCategories(selectElement);
                });
            });

            // Остальной код для переключения форм редактирования
            document.querySelectorAll('.edit-btn').forEach(function(button) {
                button.addEventListener('click', function() {
                    showEditForm(button);
                });
            });

            document.querySelectorAll('.cancel-btn').forEach(function(button) {
                button.addEventListener('click', function() {
                    hideEditForm(button);
                });
            });
        });
    </script>
    <script>
        function showExpenses() {
            document.getElementById('incomeCategory').style.display = 'none';
            document.getElementById('expenseCategory').style.display = 'block';
            setTransactionType('EXPENSE');
        }

        function showIncome() {
            document.getElementById('expenseCategory').style.display = 'none';
            document.getElementById('incomeCategory').style.display = 'block';
            setTransactionType('INCOME');
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('addTransactionBtn').addEventListener('click', function() {
                var transactionContainer = document.getElementById('transactionContainer');
                transactionContainer.classList.toggle('hidden');
            });


            document.getElementById('addCommentBtn').addEventListener('click', function() {
                var commentContainer = document.getElementById('commentContainer');
                commentContainer.classList.toggle('hidden');
            });

            document.getElementById('transactionForm').addEventListener('submit', function(event) {
                var amount = document.getElementById('amount').value;
                var transactionDate = document.getElementById('transactionDate').value;

                var typeOfTransferField = document.getElementById('typeOfTransfer');
                if (typeOfTransferField) {
                    typeOfTransferField.value = typeOfTransferField.value.toUpperCase();
                }
                if (typeOfTransferField.value === 'INCOME') {
                    document.getElementById('expenseCategories').removeAttribute('name');
                } else if (typeOfTransferField.value === 'EXPENSE') {
                    document.getElementById('incomeCategories').removeAttribute('name');
                }
            });

            document.getElementById('filterBtn').addEventListener('click', function() {
                var filterContainer = document.getElementById('filterContainer');
                filterContainer.classList.toggle('hidden');
            });

            var categoryList = document.getElementById('categoryList');
            categoryList.addEventListener('change', function(event) {
                var selectedCategory = event.target.value;
                var selectedCategoriesInput = document.getElementById('selectedCategories');
                if (selectedCategory) {
                    if (selectedCategoriesInput.value) {
                        selectedCategoriesInput.value += ', ' + selectedCategory;
                    } else {
                        selectedCategoriesInput.value = selectedCategory;
                    }
                }
            });
        });

        function setTransactionType(type) {
            var transactionDetails = document.getElementById('transactionDetails');
            var recipientOrSenderContainer = document.getElementById('recipientOrSenderContainer');
            var confirmTransactionBtn = document.getElementById('confirmTransactionBtn');
            var typeOfTransferField = document.getElementById('typeOfTransfer');

            typeOfTransferField.value = type;

            transactionDetails.classList.remove('hidden');

            if (type === 'INCOME') {
                recipientOrSenderContainer.innerHTML = '<button type="button" id="addSenderBtn">Добавить отправителя</button><div id="senderContainer" class="hidden"><input type="text" th:field="*{incomeSource.sourceName}" placeholder="Отправитель"></div>';
                recipientOrSenderContainer.classList.remove('hidden');
                document.getElementById('addSenderBtn').addEventListener('click', function() {
                    var senderContainer = document.getElementById('senderContainer');
                    senderContainer.classList.toggle('hidden');
                });
            } else if (type === 'EXPENSE') {
                recipientOrSenderContainer.innerHTML = '<button type="button" id="addRecipientBtn">Добавить получателя</button><div id="recipientContainer" class="hidden"><input type="text" th:field="*{expenseCategory.categoryName}" placeholder="Получатель"></div>';
                recipientOrSenderContainer.classList.remove('hidden');
                document.getElementById('addRecipientBtn').addEventListener('click', function() {
                    var recipientContainer = document.getElementById('recipientContainer');
                    recipientContainer.classList.toggle('hidden');
                });
            }

            confirmTransactionBtn.classList.remove('hidden');
        }

        function updateSelectedDate() {
            var transactionDate = document.getElementById('transactionDate').value;
            var selectedDate = document.getElementById('selectedDate');
            if (transactionDate) {
                selectedDate.textContent = 'Выбранная дата: ' + transactionDate;
            } else {
                selectedDate.textContent = 'Выбранная дата: ';
            }
        }
    </script>
    <script>
        $(document).ready(function() {
            $('.category-select').select2({
                placeholder: "Выберите категории",
                allowClear: true
            });

            $('#filterBtn').click(function() {
                $('#filterContainer').toggleClass('hidden');
            });

            toggleCategories();
        });

        function toggleCategories() {
            var incOrExp = document.getElementById('incOrExp').value;
            var categoriesContainer = document.getElementById('categoriesContainer');
            var incomeCategory = document.getElementById('incC');
            var expenseCategory = document.getElementById('expC');
            var incomeLabel = document.querySelector('label[for="incC"]');
            var expenseLabel = document.querySelector('label[for="expC"]');

            if (incOrExp === "INCOME") {
                categoriesContainer.classList.remove('hidden');
                incomeCategory.classList.remove('hidden');
                incomeLabel.classList.remove('hidden');
                expenseCategory.classList.add('hidden');
                expenseLabel.classList.add('hidden');
            } else if (incOrExp === "EXPENSE") {
                categoriesContainer.classList.remove('hidden');
                incomeCategory.classList.add('hidden');
                incomeLabel.classList.add('hidden');
                expenseCategory.classList.remove('hidden');
                expenseLabel.classList.remove('hidden');
            } else {
                categoriesContainer.classList.add('hidden');
                incomeCategory.classList.add('hidden');
                incomeLabel.classList.add('hidden');
                expenseCategory.classList.add('hidden');
                expenseLabel.classList.add('hidden');
            }
        }

        function submitFilterForm() {
            var form = document.getElementById('filterForm');
            var inputs = form.getElementsByTagName('input');
            var selects = form.getElementsByTagName('select');

            // Remove empty input fields
            for (var i = 0; i < inputs.length; i++) {
                if (!inputs[i].value) {
                    inputs[i].name = '';
                }
            }

            // Remove empty select fields
            for (var i = 0; i < selects.length; i++) {
                if (!selects[i].value || selects[i].value === "") {
                    selects[i].name = '';
                }
            }

            form.submit();
        }
    </script>
</div>
</body>
</html>
